<h1 id="<%=  info.title.parameterize %>"><%= info.title %> v<%= info.version %></h1>
<%= render_markdown(info.description) %>

<%# OpenAPI files default to having a single server of URL "/" %>
<% if servers.length > 1 || servers[0].url != "/" %>
  <h2 id="servers">Servers</h2>
  <div id="server-list">
    <% servers.each do |server| %>
    <% if server.description %>
    <p><strong><%= render_markdown(server.description) %></strong></p>
    <% end %>
    <a href="<%= server.url %>"><%= server.url %></a>
  <% end %>
  </div>
<% end %>

<%= paths %>

<h2 id="schemas">Schemas</h2>
<%= schemas %>
