<h3 id="<%= id %>"><%= key %></h3>
<% if operation.summary %>
  <p><em><%= operation.summary %></em></p>
<% end %>
<% if operation.description %>
  <%= operation.description_html %>
<% end %>

<%= parameters %>

<%= responses %>
