<% if responses.any? %>
<h4 id="<%= id %>">Responses</h4>
<table>
<thead>
<tr><th>Status</th><th>Description</th><th>Schema</th></tr>
</thead>
<tbody>
<% responses.each do |key,response| %>
<tr>
<td><%= key %></td>
<td>
<%= render_markdown(response.description) %>
<% if response.content %>
<% response.content.each do |content_type, media_type| %>
<% request_body = nil
if content_type.include?("json")
  if media_type["example"]
    request_body = json_prettyprint(media_type["example"])
  else
    request_body = json_output(media_type.schema)
  end
elsif media_type["example"]
  request_body = media_type["example"].to_s
end %>
<% if !request_body.blank? %>
<p><em><%= content_type %></em></p>
<pre><code><%= request_body %></code></pre>
<% end %>
<% end %>
<% end %>
</td>
<td>
<% if response.content %>
<% response.content.each do |content_type, media_type| %>
<%= get_schema_link(media_type.schema) %>
<% end %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
