<h3 id="<%= id = 'schema-' + title; id.parameterize %>"><%= title %></h3>
<%= markdown(schema.description) %>
<% if schema.properties.any? %>
<table>
<thead>
<tr><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Schema</th></tr>
</thead>
<tbody>
<% schema.properties.each do |property| %>
<tr>
<td><%= property[0] %></td>
<td><%= property[1].type %></td>
<td><%= property[1].required.present? %></td>
<td><%= markdown(property[1].description) %></td>
<td>
  <%=
  # Only print a link if it's a referenced object.
  get_schema_link(property[1]) if property[1].node_context.referenced_by %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
