<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <% if config[:tech_docs][:prevent_indexing] %>
      <meta name="robots" content="noindex">
    <% end %>

    <title><%= meta_tags.browser_title %></title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag :screen, media: 'screen' %><!--<![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag 'screen-old-ie', media: 'screen' %><![endif]-->

    <link rel="canonical" href="<%= meta_tags.canonical_url %>">

    <% if config[:tech_docs][:google_site_verification] %>
      <meta name="google-site-verification" content="<%= config[:tech_docs][:google_site_verification] %>" />
    <% end %>

    <%= stylesheet_link_tag :print, media: 'print' %>
    <%= javascript_include_tag :application %>

    <% meta_tags.tags.each do |property, content| %>
      <%= tag :meta, property: property, content: content %>
    <% end %>

    <%= yield_content :head %>
  </head>

  <body>
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        <%= partial 'layouts/header' %>
      </div>

      <% if content_for? :sidebar %>
        <div id="toc-heading" class="toc-show fixedsticky">
          <a href="#toc" class="toc-show__label js-toc-show" aria-controls="toc">
            Table of contents <span class="toc-show__icon"></span>
          </a>
        </div>
      <% end %>

      <div class="app-pane__body"<%= " data-module=\"#{yield_content(:toc_module)}\"" if content_for? :toc_module %>>
        <% if content_for? :sidebar %>
          <div class="app-pane__toc">
            <div class="toc" data-module="table-of-contents">
              <%= partial "layouts/search" %>
              <a href="#" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></a>
              <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading"<%= " data-module=\"collapsible-navigation\"" if config[:tech_docs][:collapsible_nav] %>>
                <%= yield_content :sidebar %>
              </nav>
            </div>
          </div>
        <% end %>

        <div class="app-pane__content toc-open-disabled">
          <main id="content" class="technical-documentation" data-module="anchored-headings">
            <%= yield %>
            <%= partial "layouts/page_review" %>
          </main>

          <% if config[:tech_docs][:show_contribution_banner] %>
            <ul class="contribution-banner">
              <li><%= link_to "View source", source_urls.view_source_url %></li>
              <li><%= link_to "Report problem", source_urls.report_issue_url %></li>
              <li><%= link_to "GitHub Repo", source_urls.repo_url %></li>
            </ul>
          <% end %>

          <%= partial "layouts/footer" %>
        </div>
      </div>
    </div>

    <%= partial 'layouts/analytics' %>
  </body>
</html>
