<div class="api-builder">
<% operations = {'get' => path.get, 'put' => path.put, 'post' => path.post, 'delete' => path.delete, 'patch' => path.patch} %>
<% operations.compact.each do |key,operation| %>

<% if text %>
<% id = key + text; %>
<h2 id="<%=  id.parameterize %>"><%= key.upcase %> <%= text %></h2>
<% end %>

<% if operation.summary %>
  <p><em><%= operation.summary %></em></p>
<% end %>
<% if operation.description %>
  <p><%= operation.description %></p>
<% end %>

<% if operation.parameters.any? %>
<h3 id="<%= pid = id + '-parameters'; pid.parameterize %>">Parameters</h3>
<table>
<thead>
<tr><th>Parameter</th><th>In</th><th>Type</th><th>Required</th><th>Description</th></tr>
</thead>
<tbody>
<% operation.parameters.each do |parameter| %>
<tr>
<td><%= parameter.name %></td>
<td><%= parameter.in %></td>
<td><%= parameter.schema.type %></td>
<td><%= parameter.required? %></td>
<td><%= parameter.description %></td>
</tr>
<% end %>
</tbody>
</table>
<% end %>

<% if operation.responses.any? %>
<h3 id="<%= rid = id + '-responses'; rid.parameterize %>">Responses</h3>
<table>
<thead>
<tr><th>Status</th><th>Description</th><th>Schema</th></tr>
</thead>
<tbody>
<% operation.responses.each do |key,response| %>
<tr>
<td><%= key %></td>
<td><%= response.description %></td>
<td>
<% if response.content['application/json']
  schema_name = get_schema_name(response.content['application/json'].schema.node_context.source_location.to_s)
  if !schema_name.nil? %>
<a href="#<%= id = 'schema-' + schema_name; id.parameterize %>"><%= schema_name %></a>
<% end %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>

<% end %>
</div>
